@CHARSET "UTF-8";

.add_block {
	margin-top: 80px;
    margin-left: 50px;
}

.errors_exists {
	font-size: 18px;
  	margin-top: 30px;
  	margin-left: 55px;
  	color: red;
}

.block {
    padding: 20px;
}

.update_author_tag {
	margin-top: 20px;
	margin-left: 40px;
}

.add_author_tag {
	margin-top: 40px;
	margin-left: 40px;
}

.author_tag_input {
	border: 1px solid #d8d8d8;
	border-radius: 3px;
    position: absolute;
    left: 207px;
    display: inline;
    width: 352px;
    word-wrap: break-word;
}

textarea {
	border-radius: 3px;
    border: 1px solid #d8d8d8;
}

.block_name {
    display: inline;
    padding-left: 15px;
    width: 5em;
    color: black;
    font-size: 18px;
}

.add_input {
	width: 547px;
	word-wrap: break-word;
}

.add_date_input {
	width: 247px;
}

.title_input {
	border: 1px solid #d8d8d8;
	border-radius: 3px;
    position: absolute;
    left: 207px;
    display: inline;
    width: 547px;
    word-wrap: break-word;
}

.date_input {
	border: 1px solid #d8d8d8;
	border-radius: 3px;
    position: absolute;
    left: 207px;
    display: inline;
    width: 247px;
}

.edit_link {
	float: right;
    margin-right: 275px;
    font-size: 17px;
}

.content_input {
	width: 70%;
    margin: -19px 86px 0px 138px;
    word-wrap: break-word;
}

.delete_button_style {
	cursor: pointer;
	width: 20px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 3px;
	float: right;
	margin-right: 234px;
	margin-top: -21px;
	background-color: #f9fafb;
	font-size: 17px;
}


.link_button {
	color: blue;
	text-decoration: underline;
	background: none;
	border: none; 
	padding: 0;
	font: inherit;
	cursor: pointer;
}

.brief_input {
	width: 70%;
    margin: -19px 88px 0px 138px;
    word-wrap: break-word;
}

.button_style {
	cursor: pointer;
    width: 110px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
    font-size: 17px;
}

.author_button_style {
	cursor: pointer;
    width: 130px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
    font-size: 17px;
}

.button_area {
	margin-top: 20px;
	float: right;
	margin-right: 142px;
}

.filter {
	height: 40px!important;
	margin-left: 246px;
	margin-top: 25px;
	font-size: 19px;
}

.filter select {
	width: 220px;
	color: #465e75; 
	border-radius: 3px;
	border: 1px solid gray;
}

.filter .label {
	color: black;
	font-size: 18px;
}

.filter .multiselect {
    width: 220px;
    margin-top: -26px;
    margin-left: 250px;
}

.select_box {
    position: relative;
}

.select_box select {
    width: 100%;
}

.over_select {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}

#checkboxes {
    position: relative;
	display: none;
	border: 1px solid gray;
	background: white;
	height: 100px;
	overflow-y: scroll;
}

#checkboxes label {
	margin-top: 5px;
	margin-left: 5px;
    display: block;
}