@CHARSET "UTF-8";

.news_not_found {
	font-size: 25px;
	margin-top: 100px;
	text-align: center;
	font-weight: bold;
}

.info {
    padding: 0 0 0 5px;
    margin-bottom: 65px;
}

.navigation_links{
    padding: 15px;
    font-size: 18px;
}

.navigation_links a{
    color: #0080ff;
}

.news_title_date {
	width: 100%;
}

.title {
    float: left;
    font-weight: 900;
    font-size: 30px;
}

.brief {
	float: left;
    font-weight: normal;
    font-size: 20px;
}

.info .title {
    margin-top: 20px;
	margin-left: 20px;
    font-size: 21px; 
    word-wrap: break-word;
    font-weight: 700;
    padding: 0px 0px 0px 35px; 
}

.info .author {
	margin-top: 20px;
	margin-left: 20px;
	font-size: 21px;
	font-weight: 100;
	text-align: left;
	float: left;
}

.info .brief {
	margin-top: 20px;
	margin-left: 55px;
	font-size: 18px;
	font-weight: 100;
	word-wrap: break-word;
	width: 500px;
}

.paging {
	position: absolute;
	width: 866px!important;
	height: 50px!important;
	background-color: #e0e1e4;
	left: 15px;
	right: 15px;
	bottom: 7px;
}

.paging a {
	text-decoration: none;
	font-size: 18px;
}

button {
	margin-left: 5px;
    margin-top: -4px;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 4px 6px 2px 6px;
	border: 1px solid #333333;
	border-radius: 3px;
	display: inline;
}

.filter_button_style {
    cursor: pointer;
    width: 90px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-bottom: 2px;
    padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
    font-size: 17px;
}

.filter_button_area {
    margin-right: 187px;
    float: right;
    margin-top: -40px;
}

.reset_button_area {
	margin-right: 87px;
    float: right;
    margin-top: -40px;
}

.delete_button_area {
	margin-right: 28px;
  	float: right;
}

.delete_button_style {
	cursor: pointer;
    width: 110px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
    font-size: 17px;
}

.delete_checkbox {
	margin-right: 27px;
  	margin-top: 5px;
    float: right; 
}

.filter {
	height: 40px!important;
 	margin-left: 139px;
  	margin-top: 25px;
  	font-size: 19px;
}

.filter select {
	width: 220px;
	color: #465e75; 
	border-radius: 3px;
	border: 1px solid gray;
}

.filter .label {
	color: black;
	font-size: 18px;
}

.filter .multiselect {
    width: 220px;
    margin-top: -26px;
    margin-left: 250px;
}

.select_box {
    position: relative;
}

.select_box select {
    width: 100%;
}

.over_select {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}

#checkboxes {
    position: relative;
	display: none;
	border: 1px solid gray;
	background: white;
	height: 100px;
	overflow-y: scroll;
}

#checkboxes label {
	margin-top: 5px;
	margin-left: 5px;
    display: block;
}

.news_title_date span {
    float: right;
    font-size: 18px;
    padding: 28px;
    text-decoration: underline;
}

.news_tags_comments {
	width: 100%;
}

.info .news_tags_comments .links {
    margin-right: 30px;
    font-family: monospace; 
    font-size: 19px; 
    font-weight: normal; 
    color: #0080ff;
    float: right; 
}

.news_tags_comments .tag {
	margin-top: 2px;
	margin-right: 25px;
	color: gray;
	font-size: 17px;
	display: inline;
	float: right;
}

.news_tags_comments .comments {
	margin-top: 2px;
	margin-right: 25px;
	color: red;
	font-size: 17px;
	display: inline;
	float: right;
}

.page_button_style {
	cursor: pointer;
    width: 25px;
    height: 19px;
    border: 1px solid gray;
    background-color: #efefef;
    border-radius: 3px;
    font-size: 17px;
}

.page_numbers {
	position: relative;
	margin-left: 370px;
	margin-top: 15px;
}