@CHARSET "UTF-8";

.menu {
    background-color: #B1B8B1;
    height: 165px;
}

.menu img{
    height: 13px;
    margin-bottom: -2px;
}

.menu .navigation {
    background-color: white;
    margin: 5px 10px 0px 10px;
    padding: 3px 0 12px 7px;
}

.menu .navigation span {
	margin: 5px 0;
	display: block;
	font-size: 18px;
}
