@CHARSET "UTF-8";

/* Common style settings */

* {	
    margin: 0px; 
    padding: 0px;
}
* { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.middle {
	display: inline;
}

body {  
    font-family: Arial; 
    font-size: 14px; 
    color: #000; 
    margin: 0px; 
    padding: 0px; 
}

.page_header {
    width: 1150px!important;
    margin-left: 55px;
    font-size: 15px; 
    height: 86px;
    width: 100%;  
    border: 2px solid black;
    border-bottom: none;
}

.page_footer {
    border: 2px solid black;
    border-top: none;
    width: 1150px!important;
    margin: 0px auto;
    font-size: 18px; 
    text-align: center;
    padding: 5px 0;
    position: absolute;
    top: 842px;
    left: 55px;
}

.page_body {
    position: absolute;
	left: 307px;
	margin: 0px auto;
	border: 2px solid black;
	background: #ffffff;
	color: #000;
	width: 898px!important;
	height: 750px!important;
	font-size: 14px;
	overflow-y: auto;
}

.page_menu {
	top: 88px;
	margin: 0px auto;
	position: absolute;
	left: 55px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	background: #ffffff;
	color: #000;
	width: 250px!important;
	height: 750px!important;
	font-size: 14px;
	overflow-y: auto;
}

.navigation_links{
    padding: 15px;
    font-size: 18px;
}

.navigation_links a{
    color: #0080ff;
}

.top {
    position: relative;
    width: 1150px; 
    height: 35px; 
    line-height: 35px; 
    margin: 0px auto; 
    text-align: right; 
    color: #000080;
}

.top a {
    padding:5px 7px 5px 7px; 
    color: #0080ff; 
    font-weight: 400; 
}

.language_links {
    position: absolute;
    right: 7px;
    top: 40px;
    font-size: 18px;
}

.top .title {
	padding: 25px;
}

.title {
	padding: 20px;
	float: left;
	font-weight: 800;
	font-size: 30px;
}

.clearfix {
    clear: both;
}