@CHARSET "UTF-8";

.navigation_links {
    padding: 15px;
    font-size: 18px;
}

.previous_link {
	position: absolute;
	bottom: 15px;
	left: 15px;
	display: inline;
	float: left;
	font-size: 18px;
}

.next_link {
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: inline;
	float: right;
	font-size: 18px;
}

.navigation_links a{
    color: #0080ff;
}

.author_elem {
	margin-top: -20px;
	margin-right: 80px;
	font-size: 19px;
	text-align: left;
	float: left;
}

.date_elem {
	margin-top: 30px;
	margin-right: 50px;
	font-size: 18px;
	font-weight: 100;
	text-decoration: underline;
	float: right;
}

.content_elem {
	margin-top: 90px;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 17px;
    font-weight: normal;
    width: 95%;
    word-wrap: break-word;
}

.brief_elem {
	margin-top: 30px;
	padding-left: 30px;
 	font-weight: bold;
 	width: 500px;
 	font-size: 20px;
 	float: left;
 	word-wrap: break-word;
}

.news_title_date {
	width: 100%;
}

.view_page {
	position: relative;
	margin: 10px;
	height: 720px;
	border: 1px solid gray;
	overflow-y: auto;
}

.comments_area {
	margin-top: 20px;
	margin-left: 30px;
	overflow-y: auto;
  	height: 200px;
  	width: 530px;
}

.comment_date {
	margin-top: 10px;
	font-size: 17px;
	text-decoration: underline;
	width: 200px;
}

.comment_text {
	font-family: Arial;
	font-size: 16px;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	width: 495px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #d2d8db;
	word-wrap: break-word;
}

.input_comment {
	margin-top: 30px;
	margin-left: 30px;
	width: 500px;
}

.input_comment textarea {
	border-radius: 3px;
    border: 1px solid gray;
}

.button_style {
    cursor: pointer;
    width: 150px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
    font-size: 17px;
}

.delete_button_style {
	cursor: pointer;
    width: 29px;
    border: 1px solid gray;
    border-radius: 3px;
	padding-left: 2px;
	padding-top: 2px;
	float: right;
  	margin-top: -28px;
	background-color: #f9fafb;
    font-size: 17px;
}

.post_button_area {
	margin-left: 380px;
 	margin-top: 10px;
 	margin-bottom: 20px;
}

/* .block .links {
	margin: 10px 20px; 
    font-family: monospace; 
    font-size: 17px; 
    font-weight: normal; 
    color: #b3b3b3;
    text-decoration: none; 
    float: right; 
    text-align: center;
} */

.news_title_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
}

.news_date_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
}

.news_breif_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
    border-radius: 3px;
    vertical-align: top;
    left: 53px;
    width: 72%;
}

.news_content_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
    border-radius:3px;
    vertical-align: top;
    left: 35px;
    height: 120px;
    width: 72%;
}

.news_content {
	width: 70%;
    margin: -15px 86px 0px 140px;
}

.save_message  {
	margin-left: 240px;
}

.cancel_message {
	margin-top: -65px;
	margin-left: 380px;
}

.cancel_message .button_area, .save_message .button_area {
	float: none;
}

#button_style {
    cursor: pointer;
    width: 110px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-right: 35px;
}

.right_side .button_form {
	float: right;
}

#del {
    float: right;
    margin-top:10px;
    margin-bottom: 10px;
}

.no_news {
    font-size: 14px; 
    font-weight: bold;
    text-align: center;
}

.error {
	position: relative;
	font-size: 14px; 
	text-align: right;
}

.valid_errors {
	font-size: 14px; 
	text-align: left;
	margin-left: 15px;
	color: red;
}
