* {	
    margin: 0px; 
    padding: 0px;
}
* { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {  
    font-family: Arial; 
    font-size: 12px; 
    color: #000; 
    margin: 0px; 
    padding: 0px; 
}

.header {
    width: 1000px!important;
    margin: 0px auto;
    font-size: 14px; 
    height: 75px;
    width: 100%;  
    border: 1px solid black;
    border-bottom: none;
}

.top {
    position: relative;
    width: 1000px; 
    height: 35px; 
    line-height: 35px; 
    margin: 0px auto; 
    text-align: right; 
    color: #000080;
}

.top a {
    padding:5px 7px 5px 7px; 
    color: #0080ff; 
    font-weight: 400; 
}

.language_links {
    position: absolute;
    right: 7px;
    top: 40px;
}

.navigation_links{
    padding: 15px;
}

.navigation_links a{
    color: #0080ff;
}

.title {
    float: left;
    padding: 24px;
    font-weight: 900;
    font-size: 20px;
}

form .title {
	width: 400px;
}
.page_body {
    padding: 5px 0px;
} 

.menu_body {
    position: relative;
    border: 1px solid black;
    width: 1000px!important; 
    margin: 0px auto; 
}

.left_side { 
    background: #ffffff;
    color: #000;
    width: 212px; 
    height: 700px;
}

.menu {
    background-color: #B1B8B1;
    margin: 0 10px;
    padding: 5px 0 25px 10px;
}

.menu_head {
    background-color: #615858;
    margin: 0;
    width: 100%;
    font-weight: bold;
    color: white;
    text-align: center;
}

.menu img{
    height: 13px;
    margin-bottom: -2px;
}

.menu .navigation {
    background-color: white;
    margin: 8px 3px 0px 50px;
    padding: 3px 0 12px 7px;
}

.menu .navigation span {
	margin: 5px 0;
	display: block;
}

.menu .navigation a {
    color: #4169E1;
}

.button_area {
	float: right;
}

.right_side {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid gray;
    float: center;
    background: #ffffff; 
    color: #000;
    width: 786px;
    height: 700px;
    font-size: 14px;
    overflow-y: auto;
}

.info {
    padding: 0 0 0 5px;
    margin-bottom: 65px;
}

.info input{
    margin: 0 0 0 20px;
    float: right;
}

.info .title {
    padding: 0px 0px 0px 35px; 
    font-size: 14px; 
    font-weight: bold;
    text-align: left;
}

.info .content_list {
    resize: none; 
    overflow: hidden;
}

.info .content {
    margin: 17px 35px;  
    font-weight: normal;
}

.info .links {
    margin: 10px 35px; 
    font-family: monospace; 
    font-size: 14px; 
    font-weight: normal; 
    color: #b3b3b3;
    text-decoration: none; 
    float: right; 
    text-align: center;
}

.info .links * {
	vertical-align: bottom;
}

.info .links a {
	margin-right: 5px;
}

.info span {
    float: right;
    padding-right: 35px;
    text-decoration: underline;
}

.edit_link {
    width: 85px;
    height: 12px;
}

.view_link {
    width: 85px;
    height: 12px;
}

.edit_link a{
    width: 75px;
    height: 12px;
    color: #0286c7;
    text-decoration: none;
}

.view_link a {
    width: 85px;
    height: 12px;
    color: #0286c7;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.footer {
    border: 1px solid black;
    border-top: none;
    width: 1000px!important;
    margin: 0px auto;
    font-size: 15px; 
    text-align: center;
    padding: 5px 0;
}

.block {
    padding: 20px;
}

.block_name {
    display:inline;
    padding-left: 10px;
    width: 5em;
    color: gray;
    font-size: 14px;
}

.elem {
    position:absolute;
    left:158px;
    display: inline;
    width:70%;
}

#delete{
    margin-right:10em;
    float: right;
}

#edit{
    margin-right:1em;
    margin-right:1em;
    float: right;
}

.info #date{
    width: 30%;
}

.title_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
}

.date_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
}

.breif_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
    border-radius: 3px;
    vertical-align: top;
    left: 53px;
    width: 72%;
}

.content_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
    border-radius:3px;
    vertical-align: top;
    left: 35px;
    height: 120px;
    width: 72%;
}

.content {
	width: 70%;
    margin: -15px 86px 0px 140px;
}

.brief {
	width: 70%;
    margin: -15px 86px 0px 140px;
}

.save_message  {
	margin-left: 250px;
}

.cancel_message {
	margin-top: -60px;
	margin-left: 360px;
}

.cancel_message .button_area, .save_message .button_area {
	float: none;
}

#button_style {
    cursor: pointer;
    width: 90px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-right: 35px;
}

.right_side .button_form {
	float: right;
}

#del {
    float: right;
    margin-top:10px;
    margin-bottom: 10px;
}

.no_news {
    font-size: 14px; 
    font-weight: bold;
    text-align: center;
}

.error {
	position: relative;
	font-size: 12px; 
	text-align: right;
}

.valid_errors {
	font-size: 12px; 
	text-align: left;
	margin-left: 15px;
	color: red;
}
