* {	
    margin: 0px; 
    padding: 0px;
}
* { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {  
    font-family: Arial; 
    font-size: 15px; 
    color: #000; 
    padding: 0px; 
    position: relative;
	margin: 0px auto;
	width: 600px!important;
}

h1 {
	font-size: 25px;
	margin: 20px;
}

h3 {
	font-size: 19px;
	margin: 20px;
}

p {
	font-family: Calibri;
	font-size: 18px;
	color: #0000ff;
	margin-left: 5px;
}

a.back {
	font-family: Helvetica;
	font-size: 16px;
	color: #276dd8;
	margin-left: 5px;
	text-decoration: none;
	user-select: none;
}

a.ref {
	font-family: Tahoma;
	font-size: 18px;
	color: #0000a0;
	user-select: none;
}

td.displayElement {
	text-align: left;
}

.mainBlock {
	position: relative;
	margin: 0px auto;
	width: 600px!important;
	border: 1px solid gray;
}

.linkBlock {
	margin: 20px;
	color: #0000a0;
	text-align: left;
}

.header {
    width: 600px!important; 
    margin: 0px auto;
    height: 100px;
    width: 100%;  
    border: 1px solid gray;
    border-bottom: none;
}

.errors {
	font-size: 16px; 
	text-align: left;
	margin-top: 7px;
	margin-left: 30px;
	color: red;
}

.textField {
	width: 300px;
	margin-top: 5px;
	position: relative;
	border: 1px solid gray;
}

.checkBoxBlock {
	position: relative;
	width: 15px;
}

.emptyBlock {
	width: 200px;
}

.propName {
	padding-top: 10px;
    padding-left: 30px;
    padding-right: 50px;
    font-size: 16px;
    width: 100px;
    display: inline-block;
}

.buttonBlock {
	display: inline-block;
	margin-top: 20px;
	margin-left: 150px;
	margin-bottom: 20px;
	margin-right: 60px;
	width: 180px;
}

.products {
	margin: 20px;
}

form.cancel {
	position: absolute;
	bottom: 0;
	right: 0;
}

.addButtonBlock {
	margin-top: 20px;
	margin-left: 23px;
	margin-bottom: 20px;
	width: 180px;
}

.buttonStyle {
	display: inline-block;
    cursor: pointer;
    width: 100px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-right: 35px;
    background-color: #eeeeee;
}
