@CHARSET "UTF-8";

.navigation_links {
    padding: 15px;
    font-size: 18px;
}

.previous_link {
	position: absolute;
	bottom: 15px;
	left: 15px;
	display: inline;
	float: left;
	font-size: 18px;
}

.next_link {
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: inline;
	float: right;
	font-size: 18px;
}

.navigation_links a{
    color: #0080ff;
}

.author_elem {
	margin-right: 80px;
	font-size: 19px;
	text-align: left;
	float: left;
}

.date_elem {
	margin-right: 50px;
	font-size: 18px;
	font-weight: 100;
	text-align: left;
	text-decoration: underline;
	float: right;
}

.content_elem {
    padding-top: 70px;
    padding-left: 30px;
    font-size: 17px;
    font-weight: normal;
    width: 95%;
    word-wrap: break-word;
}

.brief_elem {
    padding-left: 30px;
 	font-weight: bold;
 	width: 500px;
 	font-size: 20px;
 	float: left;
}

.view_page {
	position: relative;
	width: 1120px!important;
	margin: 10px;
	height: 720px;
	border: 1px solid gray;
	overflow-y: auto;
}

.news_title_date {
	width: 100%;
}

.comments_area {
	margin-top: 20px;
	margin-left: 30px;
	overflow-y: auto;
  	height: 200px;
  	width: 530px;
}

.comment_date {
	margin-top: 10px;
	font-size: 17px;
	text-decoration: underline;
	width: 200px;
}

.comment_text {
	font-family: Arial;
	font-size: 16px;
	text-align: left;
	margin-left: 5px;
	margin-top: 5px;
	width: 495px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #d2d8db;
	word-wrap: break-word;
}

.input_comment {
	margin-top: 30px;
	margin-left: 30px;
	width: 500px;
}

.input_comment textarea {
	border-radius: 3px;
    border: 1px solid gray;
}

.button_style {
    cursor: pointer;
    width: 150px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
    font-size: 17px;
}

.post_button_area {
	margin-left: 380px;
 	margin-top: 10px;
 	margin-bottom: 20px;
}

/* .block .links {
	margin: 10px 20px; 
    font-family: monospace; 
    font-size: 17px; 
    font-weight: normal; 
    color: #b3b3b3;
    text-decoration: none; 
    float: right; 
    text-align: center;
} */

.menu {
    background-color: #B1B8B1;
    margin: 0 10px;
    padding: 5px 0 25px 10px;
}

.menu_head {
    background-color: #615858;
    margin: 0;
    width: 100%;
    font-weight: bold;
    color: white;
    text-align: center;
}

.menu img{
    height: 13px;
    margin-bottom: -2px;
}

.menu .navigation {
    background-color: white;
    margin: 8px 3px 0px 50px;
    padding: 3px 0 12px 7px;
}

.menu .navigation span {
	margin: 5px 0;
	display: block;
}

.menu .navigation a {
    color: #4169E1;
}

.button_area {
	float: right;
}

.info .content_list {
    resize: none; 
    overflow: hidden;
}

.info .content {
    margin: 17px 35px;  
    font-weight: normal;
}

.info .links input {
	margin-top: 3.5px;
}

.info .links * {
	vertical-align: bottom;
}

.info .links a {
	margin-right: 5px;
}

.edit_link {
    width: 85px;
    height: 12px;
}

.view_link {
    width: 85px;
    height: 12px;
}

.edit_link a {
    width: 75px;
    height: 12px;
    color: #0286c7;
    text-decoration: none;
}

.view_link a {
    width: 85px;
    height: 12px;
    color: #0286c7;
    text-decoration: none;
}

#delete{
    margin-right:10em;
    float: right;
}

#edit{
    margin-right:1em;
    margin-right:1em;
    float: right;
}

.info .inpt{
    border-radius: 3px;
    position: absolute;
    left: 10em;
    border: 1px solid gray;
    float: none;
    width: 50%;
    height: 20px;
}

.info #date{
    width: 30%;
}

.news_title_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
}

.news_date_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
}

.news_breif_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
    border-radius: 3px;
    vertical-align: top;
    left: 53px;
    width: 72%;
}

.news_content_area {
    margin: 0px 86px 0px 25px;
    border: 1px solid gray;
    border-radius:3px;
    vertical-align: top;
    left: 35px;
    height: 120px;
    width: 72%;
}

.news_content {
	width: 70%;
    margin: -15px 86px 0px 140px;
}

.save_message  {
	margin-left: 240px;
}

.cancel_message {
	margin-top: -65px;
	margin-left: 380px;
}

.cancel_message .button_area, .save_message .button_area {
	float: none;
}

#button_style {
    cursor: pointer;
    width: 110px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-right: 35px;
}

.right_side .button_form {
	float: right;
}

#del {
    float: right;
    margin-top:10px;
    margin-bottom: 10px;
}

.no_news {
    font-size: 14px; 
    font-weight: bold;
    text-align: center;
}

.error {
	position: relative;
	font-size: 14px; 
	text-align: right;
}

.valid_errors {
	font-size: 14px; 
	text-align: left;
	margin-left: 15px;
	color: red;
}
