@CHARSET "UTF-8";

.pagebody {
	position: absolute;
	margin-top: 50px;
	margin-left: 300px;
	width: 500px;
}

.title {
	margin: 35px;
	color: #4643bc;
	font-size: 22px;
}

.mobile_plan {
	margin: 15px;
	color: #aeafe6;
	font-size: 18px;
}